---
title: Über uns
description: Wir sind ein leidenschaftliches Team, das sich darauf konzentriert, Ihnen den besten Aufenthalt in den
Allgäuer Alpen zu bieten.
image: https://source.unsplash.com/your-team-image.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Unsere Geschichte</h1>
			<p class="subtext editable">Wir sind ein engagiertes Team, das es sich zur Aufgabe gemacht hat, Ihnen einen
				unvergesslichen Aufenthalt inmitten der Natur zu ermöglichen. Komfort, Entspannung und Gastfreundschaft
				stehen für uns im Mittelpunkt.</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong>
				Mitarbeiter verwalten</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
			<li>
				<div class="square-image"
					style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
				<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{
						person.name }}</a></div>
				<div class="position">{{ person.position }}</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
